<div class="container">
<form action="/insert" method="post">
<h3 style="color:aliceblue">INSERT ITEM</h3>
<h4 style="color:aliceblue">Title</h4>
<input type="text" name="title" class="form-control">
<h4 style="color:aliceblue">Image Path</h4>
<input type="text" name="image" class="form-control">
<h4 style="color:aliceblue">description</h4>
<input type="text" name="description" class="form-control">
<h4 style="color:aliceblue">Price</h4>
<input type="text" name="price" class="form-control">
<button class="btn btn-primary" type="submit">Insert</button>
</form>
</div>